.bodyz {
    width: 80%;
    height: 700px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.top {
    border: 1px solid rgb(190, 184, 184);
    background-color: rgb(226, 222, 222);
    margin-top: 10px;
    width: 80%;
    height: 45%;
    overflow: auto;
}

.choose {
    border: 1px solid rgb(190, 184, 184);
    background-color: rgb(226, 222, 222);
    margin-top: 10px;
    padding-left: 15px;
    width: 80%;
    height: 75%;
    display: none;
}

.formTDrad {
    margin-top: 50px;
    margin-left: -404px;
}

p {
    margin-left: 25px;
}

.low {
    border: 1px solid rgb(190, 184, 184);
    background-color: rgb(226, 222, 222);
    margin-bottom: 15px;
    width: 80%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.low1 {
    display: none;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    overflow: auto;
}

.buton {
    display: flex
}

.addSave {
    margin-top: 15px;
}

.low2 {
    background-color: rgb(226, 222, 222);
    height: 90%;
    width: 90%;
    display: none;
}

textarea {
    width: 99%;
    height: 70%;
}

.color {
    display: none;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 160px;
    width: 250px;
    height: 240px;
}

.c1 {
    width: calc(240px/3);
    height: calc(240px/3);
    background-color: blue;
    border: 1px solid #000;
}

.c2 {
    width: calc(240px/3);
    height: calc(240px/3);
    background-color: blueviolet;
    border: 1px solid #000;
}

.c3 {
    width: calc(240px/3);
    height: calc(240px/3);
    background-color: crimson;
    border: 1px solid #000;
}

.c4 {
    width: calc(240px/3);
    height: calc(240px/3);
    background-color: darkgreen;
    border: 1px solid #000;
}

.c5 {
    width: calc(240px/3);
    height: calc(240px/3);
    background-color: deeppink;
    border: 1px solid #000;
}

.c6 {
    width: calc(240px/3);
    height: calc(240px/3);
    background-color: gold;
    border: 1px solid #000;
}

.c7 {
    width: calc(240px/3);
    height: calc(240px/3);
    background-color: lightcoral;
    border: 1px solid #000;
}

.c8 {
    width: calc(240px/3);
    height: calc(240px/3);
    background-color: saddlebrown;
    border: 1px solid #000;
}

.c9 {
    width: calc(240px/3);
    height: calc(240px/3);
    background-color: snow;
    border: 1px solid #000;
}

.backGroundColor {
    display: none;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 160px;
    width: 250px;
    height: 240px;
}

.bgc1 {
    width: calc(240px/3);
    height: calc(240px/3);
    background-color: blue;
    border: 1px solid #000;
}

.bgc2 {
    width: calc(240px/3);
    height: calc(240px/3);
    background-color: blueviolet;
    border: 1px solid #000;
}

.bgc3 {
    width: calc(240px/3);
    height: calc(240px/3);
    background-color: crimson;
    border: 1px solid #000;
}

.bgc4 {
    width: calc(240px/3);
    height: calc(240px/3);
    background-color: darkgreen;
    border: 1px solid #000;
}

.bgc5 {
    width: calc(240px/3);
    height: calc(240px/3);
    background-color: deeppink;
    border: 1px solid #000;
}

.bgc6 {
    width: calc(240px/3);
    height: calc(240px/3);
    background-color: gold;
    border: 1px solid #000;
}

.bgc7 {
    width: calc(240px/3);
    height: calc(240px/3);
    background-color: lightcoral;
    border: 1px solid #000;
}

.bgc8 {
    width: calc(240px/3);
    height: calc(240px/3);
    background-color: saddlebrown;
    border: 1px solid #000;
}

.bgc9 {
    width: calc(240px/3);
    height: calc(240px/3);
    background-color: snow;
    border: 1px solid #000;
}

.table {
    display: none
}

.list {
    display: none
}


/* #add {}

#save {} */